{% extends "base.html" %}
{% block content %}
  <h1>TP Network</h1>
  <p><small><em>Thank you for reaching us!</em></small></p>
  <hr>
  <section class="service">
    <header><h2>What we provide:</h2></header>
    <article>
      <header><h3>Bussiness Services</h3></header>
      <ul>
        <li>Build Network Infrastructure for Office Enviroment</li>
        <li>Wifi - Access Point - Mesh Devices Installation</li>
        <li>Active Directory - LDPA System Implementation</li>
        <li>FileServer - Print Server Interagtion</li>
        <li>Database Solution</li>
        <li>Virtualization - Cloud Solution</li>
        <li>Hourly or Contract On-site IT Support</li>
      </ul>
    </article>
    <article>
      <header><h3>Residential Services</h3></header>
      <ul>
        <li>In Home Network Installation</li>
        <li>In Home Wireless</li>
        <li>Smart Devices</li>
        <li>Home Security Camera</li>
      </ul>
    </article>
  </section>
  <hr>
  <section class="special-offer">
    <header><h2>Special Offer</h2></header>
    <ul>
      <li>20% OFF for First Time Clients</li>
      <li>3 Months Free Cost Guarantee</li>
      <li>Long Term Clients Discount</li>
    </ul>
  </section>
    <hr>
  <section class="contact">
    <header><h2>Contact Us</h2></header>
    <form>
      <p><label>Name</label><br><input type="text"></p>
      <p><label>Email</label><br><input type="email"></p>
      <p><label>Message</label><br><textarea rows="10" cols="70" style="resize:none;"></textarea></p>
      <p><button>Send Message</button></p>
    </form>
  </section>
  
{% endblock content %}